%div.link
  %a(href="/" class="#{controller.action_name == "index" && "current"}") Home
  %a(href="#" class="#{controller.action_name == "about" && "current"}") About Us
  %a(href="/product" class="#{controller.action_name == "product" && "current"}") Product
  %a(href="/careers" class="#{controller.action_name == "careers" && "current"}")Careers
  %a(href="#") Blog
  %a(href="#") Contact
  %hr

