.container
  %div.title
    %h1.logo CODUCER
    = link_to "back to home", root_path, class: "logo"
    %hr
    = render partial: "home/menu"
    .aboutus
      %h2 Our approach
      %p Over the course of years, we have learnt from our experience as well as the experience of the software development community. We have identified a few key principles that allow us to deliver software with consistently high quality and within budget.
      %h2 Tools
      %p A skilled craftsman is one who can wield multiple tools choosing the right tool for the right job. We evaluate the problem and suggest/implement the most appropriate architecture balancing the business and the technical needs. This is only possible as we have a wide range of experience across multiple technologies.
