.container
  %div.title
    %h1.logo CODUCER
    = link_to "back to home", root_path, class: "logo"
    %hr
    = render partial: "home/menu"
    %p Current Openings
    %ul.jobs
      %li
        %h1 Require Passionate Programmers
        %h2 We are looking for passionate programmers (software craftsmen)
        %a.box(href="/careers/apply") Apply now
        %a(href="/careers/details") Details
      %hr.split
      %li
        %h1 Require Technical Mentor
        %h2 We are looking for senior developers
        %a.box(href="/careers/apply") Apply now
        %a(href="/careers/details") Details
      %hr.split
      %li
        %h1 Require Passionate Quality Analyst
        %h2 We are looking for freshers who are passionate programmers
        %a.box(href="/careers/apply") Apply now
        %a(href="/careers/details") Details
      %hr.split
