.container
  %div.title
    %h1.logo CODUCER
    %a.logo(href="/") Home
    %hr
    %p Current Openings
    %ul.jobs
      %li
        %h1 Require Passionate Programmers
        %h2 We are looking for passionate programmers (software craftsmen)
        %a(href="/careers/apply") apply now
        %a(href="/careers/details") job details
      %hr
      %li
        %h1 Require Technical Mentor
        %h2 We are looking for senior developers
        %a(href="/careers/apply") apply now
        %a(href="/careers/details") job details
      %hr
      %li
        %h1 Require Passionate Quality Analyst
        %h2 We are looking for freshers who are passionate programmers
        %a(href="/careers/apply") apply now
        %a(href="/careers/details") job details
      %hr
