.home
  %div(style="margin: 0 auto;width: 800px;padding-top: 20%;")
    %h1(style= "font-size:60px;color: white;float: left;text-shadow: 0 5px 5px black;font-family: arial-black;letter-spacing:5px;margin-bottom:0;") CODUCER
    %h2(style= "font-size:42px;color: white;float: left;padding-top: 35px;margin-left: 25px;text-shadow: 0 2px 2px black;letter-spacing: 5px;") TECHNOLOGIES

    %div(style="clear:both;")

    %ul.menu
      %li
        %a(href="#") About
      %li
        %a(href="#") Products
      %li
        %a(href="#") Careers
      %li
        %a(href="#") Blog
      %li
        %a(href="#") Contact

    %ul.social_networks
      %li
        %a(href="#")= image_tag("facebook.png")
      %li
        %a(href="#")= image_tag("twitter.png")
      %li
        %a(href="#")= image_tag("linkedin.png")
      %li
        %a(href="#")= image_tag("git.png")