.container
  %div.title
    %h1.logo CODUCER
    = link_to "back to home", root_path, class: "logo"
    %hr
    = render partial: "home/menu"
    .product
      %div.product
        %h2.product Eatwithus
        %h5.product Uses
        %h5 Rails
        %h5 Ruby
        %h5 JRuby
        %h5 JQuery
        %h6.product Star Employee Intranet was aimed to smoothen the communication and cohesiveness among teams in the company. This project was started when the company was establishing presence in several towns and smaller business districts in India. Setting up their private network was expensive and a long drawn process. That is when the company envisioned the intranet on the cloud.
        %p.product2 Home page of Eatwithus:
        = image_tag("eatwithus.jpg", class: "image")
