.container
  %div.title
    %h1.logo CODUCER
    = link_to "back to home", :back, class: "logo"
    %hr
    .product
      %div.product
        %h2.product Eatwithus
        %p.product Star Employee Intranet was aimed to smoothen the communication and cohesiveness among teams in the company. This project was started when the company was establishing presence in several towns and smaller business districts in India. Setting up their private network was expensive and a long drawn process. That is when the company envisioned the intranet on the cloud.
      %div.soft
        %ul.soft
          %h3 Technologies
          %li
            %h5 Ruby
          %li
            %h5 Rails
          %li
            %h5 Html
          %li
            %h5 Css
        %hr
        %ul.soft
          %h3 Clients
          %li
            %h5 Master cake shop
          %li
            %h5 Fivestar cakes
          %li
            %h5 RJ cakes 
