// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin gradient-radial($innerColor: #555, $outerColor: #333)  {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
  background-repeat: no-repeat;
}

html{
   margin:0;
   padding:0;
   height: 100%;
   /* background-color: #bf2222; */
   @include gradient-radial(#bf2222, #760000);
}

body{
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: url("bg.png");
   background-repeat: repeat;
   min-height: 95%;
   font-family: "open sans";
}
.home{
   div.company{
	margin: 0 auto;
	width: 800px;
	padding-top: 18%; 
    h1{
	font-size:80px;
	color: white;
	float: left;
	text-shadow: 2px 1px 6px black;
	font-family: open sans;
	font-weight: bold;
	margin-bottom:0;
    }
    h2{
	font-size:50px;
	color: white;
	float: left;
	padding-top: 45px;
	margin-left: 25px;
	color:#2F0000;
	border-bottom:2px;
    }
}  
div{
      	clear:both;
		ul.menu{
			margin:0;
      			padding-left: 0px;
      			width: 450px;
      			float: left;
      		li{
         		list-style: none;
         		display: inline-block;
         		border-right: 1px dotted white;
         		a{
            			color: white;
            			text-decoration: none;
            			font-size: 18px;
            			margin-right: 12px;
            			margin-left: 12px;
          		 }
      	  	}
      		li:last-child{
        		border: none;
          		     }
   			}

		ul.social_networks{
      			width: 200px;
      			float: right;
      			margin:0;
      			padding: 0;
      			margin-top: -5px;
      			text-align: right;
      			margin-right: 25px;
      		li{
        		list-style: none;
         		display: inline-block;
         		margin-right: 15px;
      	  	}  		 
    	}
   }
}

.container
{
	div.title
	{
		margin:0 auto;
		width: 1000px;
		min-height:600px;
		margin-top:35px;
		background:white;
		border-radius:15px;
    		h1.logo{
			margin: 10px;
        		font-size:40px;
        		color:#bf0000;
        		float: left;
        	 	text-shadow: 2px 1px 6px black;
        		font-family: open sans;
        		font-weight: bold;
			}
	  	a.logo{
			text-decoration:none;
			float:right;
			color:#bf0000;
			margin-top:30px;
			margin-right:30px;
			font-weight:bold;
		  }
		hr{
			clear: both;
			border-color: #bf0000;
		  }
		p{
			margin:10px;
			font-size:30px;
			font-weight:bold;
			color:green;
			text-align:left;	
		 }
		ul.jobs
		{
			li
			{
				list-style: none;
				h1
				{
					font-size:25px;
					width:800;
					color:#bf0000;
				}
				h2
				{
					font-size:15px;
					width:700;
					margin-left:25px;
				}
				a
				{
					width:85px;
					background:#0000ff;
					text-decoration:none;
					color:white;
					padding-left:3px;
					padding-right:3px;	
					border-radius:2px;
					margin-left:25px;
				}
			}
			hr
                        {
                        	clear: both;
				border:none;
				width:96%;
				border-bottom: 1px dashed #8b008b;	
                        }
		}
		.product
		{
			div.product
			{
				width:580px;
				min-height:450px;
			        margin-left:20px;
				margin-top:20px;
				float:left;
				padding-left:20px;
				background:#E8E8E8;
				border-radius:10px;
				h2.product
				{
					font-size:25px;
                                        width:500;
                                        color:#bf0000;
				}
				p.product
				{
					font-size:15px;
					width:500;
					color:black;
					margin-left:20px;
				}
			}
			div.soft
			{
				width:300px;
				min-height:450px;
				margin-left:20px;
				margin-top:20px;
				float:left;
				padding-left:20px;
				border-left:2px solid #bf0000;
				ul.soft
				{
					h3
					{
						font-size:20px;
						color:#bf0000;
						margin-left:20px;
					}
				}
			}
		}
     	}
}

